body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

#container {
    width: 500px;
    height: 500px;
    background-color: white;
    border: 5px solid #333;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    border: 1px solid #eee;
    box-sizing: border-box;
}